<form class="custom-form" >
</form>
<br>
<label for="coordenadas">Coordenadas</label>
<br>
<br>
<div class="form-group">

  <div class="row">
    <div class="col-md-1">
      <label>X</label>
    </div>
    <div class="col-md-3">
      <input type="text" id="x" class="form-control" name="x" placeholder="Cordenada X">
    </div>
    <div class="col-md-1">
      <label>Y</label>
    </div>
    <div class="col-md-3">
      <input type="text" id="y" class="form-control" name="y" placeholder="Cordenada Y">
    </div>
  </div>
</div>
