<div class="row">
  <div class="col-md-6">
    <h2>Insertar Cliente</h2>
    <hr>

    <form [formGroup]="myForm"  (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="row">
        <div class="col-md-6">
          <div>
            <label for="nombreApellido">Nombre/Apellido</label>
            <input
            [(ngModel)]="cliente.nombre"
            type="text"
            class="form-control"
            name="nombreApellido"
            formControlName="nombreApellido"
            >
            <span *ngIf="myForm.controls['nombreApellido'].getError('required') && myForm.controls['nombreApellido'].touched">
              Este campo es requerido
            </span>
            <span *ngIf="myForm.controls['nombreApellido'].getError('minlength') && myForm.controls['nombreApellido'].touched">
              Este campo requiere minimo 3 letras, maximo 20
            </span>
          </div>
          <br>
          <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input
            [(ngModel)]="cliente.telefono"
            type="text"
            class="form-control"
            name="telefono"
            formControlName="telefono"
            >
            <span *ngIf="myForm.controls['telefono'].getError('required') && myForm.controls['telefono'].touched">
              Este campo es requerido
            </span>
            <span *ngIf="myForm.controls['telefono'].getError('minlength') && myForm.controls['telefono'].touched">
              Este campo necesita obligatoriamente 10 numeros
            </span>
          </div>
          <br>
          <div class="form-group">
            <label for="correo">Correo</label>
            <input
            [(ngModel)]="cliente.email"
            type="text"
            class="form-control"
            name="correo"
            formControlName="correo"
            >
            <span *ngIf="myForm.controls['correo'].getError('required') && myForm.controls['correo'].touched">
              Este campo es requerido
            </span>
            <span *ngIf="myForm.controls['correo'].getError('minlength') && myForm.controls['correo'].touched">
              Este campo necesita minimo 10 caracteres y maximo 50 un "@" entre ellos
            </span>
            <br>
          </div>
        </div>

        <div class="col-md-6 form-group">
          <div class="form-group">
              <label for="municipio">Estado</label>
              <select *ngIf="clientes != undefined "formControlName="municipio"
              class="form-control"
              placeholder="Municipio">
                <option *ngFor="let c of clientes, let i = index ">
                  {{clientes[i].estado}}
                </option>
              </select>
                <div >
            </div>
            <span *ngIf="myForm.controls['estado'].getError('required') && myForm.controls['estado'].touched">
              Este campo es requerido
            </span>
            <span *ngIf="myForm.controls['estado'].getError('minlength') && myForm.controls['estado'].touched">
              Este campo necesita 3 caracteres minimo y 20 maximo
            </span>
          </div>
          <br>
          <div class="form-group">
            <label for="municipio">Municipio</label>
            <select *ngIf="clientes != undefined "formControlName="municipio"
            class="form-control"
            placeholder="Municipio">
              <option *ngFor="let c of clientes, let i = index ">
                {{clientes[i].municipio}}
              </option>
            </select>
              <div >
          </div>
            <span *ngIf="myForm.controls['municipio'].getError('minlength') && myForm.controls['municipio'].touched">
              Este campo necesita 3 caracteres minimo y 20 maximo
            </span>
          </div>
          <br>
          <div class="form-group">
            <label for="cp">Codigo Postal</label>
            <input
            [(ngModel)]="cliente.cp"
            type="number"
            class="form-control"
            name="cp"
            formControlName="cp"
            placeholder="00000"
            >
            <span *ngIf="myForm.controls['cp'].getError('required') && myForm.controls['cp'].touched">
              Este campo es  requerido y necesita 5 carcteres obligatoriamente
            </span>
          </div>
          <br>

        </div>
      </div>
      <div class="text-center">
        <button
        type="submit"
        class="btn btn-outline-primary"
        id="buscar"
        (ngSubmit)="onSubmit()"
        >Aceptar</button>
      </div>
    </form>
  </div>


