<div class="p-4">

  <div class="row">
    <div class="col-md-6">
      <div class="row mt-3">

        <div class="col-md-12">
          <div class="row w-100">
            <div class="col-md-6">
              <h1>ITSmartS</h1>
            </div>
            <div class="col-md-6">
              <form>
                <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
              </form>
            </div>

          </div>
          <div>
            <p-button
            label="Nuevo Registro"
            icon="pi pi-pencil"
            iconPos="left"
            (click)="abrirDialogoInsertar()"
            >
          </p-button>

          </div>

          <br>
          <div class="row">
            <div class="col-md-6">
              <h2>Informacion de los clientes</h2>
            </div>
            <div class="col-md-6">
              <button
              type="button"
              class="btn btn-danger"

              >
                <i class="fas fa-file-pdf"></i> Exportar a PDF
              </button>
              <button
              type="button"
              class="btn btn-success mx-1"
              (click)="abrirDialogoConfirmacionExcel()"
               >
              <i class="fas fa-file-excel"></i> Exportar a Excel
            </button>

            </div>

          </div>



          <hr>

        </div>
      </div>

      <div class="row">

        <div class="col-md-12">

           <table class="table" id="tabla-clientes">
            <thead>
              <tr >
                <th>Cliente</th>
                <th>Nombre/Apellido</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Estado</th>
                <th>Municipio</th>
                <th>Codigo Postal</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes?.clientes">
                <td>{{cliente.id_cliente}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.telefono}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.estado}}</td>
                <td>{{cliente.municipio}}</td>
                <td>{{cliente.cp }}</td>
                <td>
                  <p-button icon="pi pi-search" (click)="abrirDialogoConfirmacion()"></p-button>
                  <p-button icon="pi pi-pencil" (onClick)="abrirDialogoEditar(cliente.id_cliente ?? 0)"></p-button>
                  <p-button icon="pi pi-trash" (click)="abrirDialogoEliminar(cliente.id_cliente ?? 0)"></p-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="d-flex flex-column align-items-center">
        <h2>Ubicacion del cliente</h2>
        <div>
          <div id="map"></div>
        </div>
        <button id="botonFeo" type="button" class="btn btn-primary mt-3">
          Expandir mapa
        </button>
      </div>
    </div>
  </div>

</div>



