form {
  margin-left: 20px;
}

label{
  color: blue;
}

.text-center #buscar {
  width: 150px;
}


.custom-width-btn {
  margin-top: 50px;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 8px;
}

.btn-pdf {
  margin-right: 50px; /* Puedes ajustar este valor según tu preferencia */
}

.btn-excel {
  margin-left: 50px; /* Puedes ajustar este valor según tu preferencia */
}

h1{
  text-align: center;
  background-color: blue;
  color: white;
}


h1{
  text-align: center;
  background-color: blue;
  color: white;
  border-radius: 10px;
}

h2{
  padding: 1rem;
}

.custom-width-btn {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 8px;
}

h3{
  margin-left: 40%;
  margin-top: 60px;
  text-align: center;
  background-color: blue;
  color: white;
  border-radius: 5px;
}


.search-container {
  position: relative;
}

.search-container input[type="search"] {
  padding-right: 30px; /* Ajusta este valor según sea necesario para dar espacio al ícono */
}

.search-container i {
  position: absolute;
  top: 50%;
  right: 10px; /* Ajusta este valor según sea necesario para la posición del ícono */
  transform: translateY(-50%);
  cursor: pointer;
}


input[readonly] {
  background-color: #f0f0f0; /* Un tono de gris */
  /* Otros estilos adicionales según sea necesario */
}

input::placeholder {
  text-align: center;
}

