
<div class="row">
  <div class="col-md-6">

    <form>
      <div class="form-group">
        <label for="idCliente">IdCliente</label>
        <input type="text" id="idCliente" class="form-control" name="idCliente">
      </div>
      <div class="form-group">
        <label for="nombreApellido">Nombre/Apellido</label>
        <input type="text" id="nombreApellido" class="form-control" name="nombreApellido">
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="text" id="telefono" class="form-control" name="telefono">
      </div>
       <div class="form-group">
        <label for="email">Correo</label>
        <input type="text" id="email" class="form-control" name="email">
      </div>
      <div class="form-group">
        <label for="fecha">Fecha de Creacion</label>
        <input type="text" id="fecha" class="form-control" name="fecha">
      </div>
      <div class="form-group">
        <label for="referencias">Referencias</label>
        <input type="text" id="referencias" class="form-control" name="referencias">
      </div>
    </form>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label for="estado">Estado</label>
      <input type="text" id="estado" class="form-control" name="estado">
    </div>
    <div class="form-group">
      <label for="municipio">Municipio</label>
      <input type="text" id="municipio" class="form-control" name="municipio">
    </div>
    <div class="form-group">
      <label for="colonia">Colonia</label>
      <input type="text" id="colonia" class="form-control" name="colonia">
    </div>
    <div class="form-group">
      <label for="calle">Calle</label>
      <input type="text" id="calle" class="form-control" name="calle">
    </div>
    <div class="form-group">
      <label for="cp">Codigo Postal</label>
      <input type="text" id="cp" class="form-control" name="cp">
    </div>
    <br>
    <div class="text-center">
      <button type="button" class="btn btn-outline-primary" id="buscar">Buscar</button>
    </div>
  </div>
</div>







