 <h1>ITSmartS</h1>
  <div class="row">
  <div class="col-md-6">
    <h2>Informacion del cliente</h2>
    <hr>

    <form [formGroup]="myForm" (ngSubmit)="onSave()"  autocomplete="off">
      <div class="row">
        <div class="col-md-6">
          <label for="idCliente">IdCliente</label>
          <input
          type="number"
          id="idCliente"
          class="form-control"
          name="idCliente"
          formControlName="idCliente"
          >
          <span *ngIf="myForm.controls['idCliente'].getError('required') && myForm.controls['idCliente'].touched">
            Este campo es requerido
          </span>
          <br>
          <div>
            <label for="nombreApellido">Nombre/Apellido</label>
            <input
            type="text"
            class="form-control"
            name="nombreApellido"
            formControlName="nombreApellido"
            >
            <span *ngIf="myForm.controls['nombreApellido'].getError('required') && myForm.controls['nombreApellido'].touched">
              Este campo es requerido
            </span>
            <span *ngIf="myForm.controls['nombreApellido'].getError('minlength') && myForm.controls['nombreApellido'].touched">
              Este campo requiere minimo 3 letras, maximo 20
            </span>
          </div>
          <br>
          <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input
            type="number"
            class="form-control"
            name="telefono"
            formControlName="telefono"
            >
            <span *ngIf="myForm.controls['telefono'].getError('required') && myForm.controls['telefono'].touched">
              Este campo es requerido
            </span>
            <span *ngIf="myForm.controls['telefono'].getError('minlength') && myForm.controls['telefono'].touched">
              Este campo necesita obligatoriamente 10 numeros
            </span>
          </div>
          <br>
          <div class="form-group">
            <label for="correo">Correo</label>
            <input
            type="text"
            class="form-control"
            name="correo"
            formControlName="correo"
            >
            <span *ngIf="myForm.controls['correo'].getError('required') && myForm.controls['correo'].touched">
              Este campo es requerido
            </span>
            <span *ngIf="myForm.controls['correo'].getError('minlength') && myForm.controls['correo'].touched">
              Este campo necesita minimo 10 caracteres y maximo 50 un "@" entre ellos
            </span>
            <br>
            <div class="form-group">
              <label for="fecha">Fecha de Creacion</label>
              <input
              type="date"
              class="form-control"
              name="fecha"
              formControlName="fecha"
              >
              <span *ngIf="myForm.controls['fecha'].getError('required') && myForm.controls['fecha'].touched">
                Este campo es requerido
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="referencias">Referencias</label>
            <div class="search-container">
                <input
                    type="text"
                    class="form-control"
                    formControlName="referencias"
                    placeholder="ITSmartS"
                >
                <i class="fa fa-search"></i>
            </div>
            <span *ngIf="myForm.controls['referencias'].getError('required') && myForm.controls['referencias'].touched">
              Este campo es requerido
            </span>
            <span *ngIf="myForm.controls['referencias'].getError('minlength') && myForm.controls['referencias'].touched">
              Este campo necesita 1 caracter minimo y 4 maximo
            </span>
        </div>
        </div>

        <div class="col-md-6 form-group">
          <div class="form-group">
            <label for="estado">Estado</label>
            <input
            type="text"
            class="form-control"
            name="estado"
            formControlName="estado"
            placeholder="Estado"
            >
            <span *ngIf="myForm.controls['estado'].getError('required') && myForm.controls['estado'].touched">
              Este campo es requerido
            </span>
            <span *ngIf="myForm.controls['estado'].getError('minlength') && myForm.controls['estado'].touched">
              Este campo necesita 3 caracteres minimo y 20 maximo
            </span>
          </div>
          <br>
          <div class="form-group">
            <label for="municipio">Municipio</label>
            <input
            type="text"
            class="form-control"
            name="municipio"
            formControlName="municipio"
            placeholder="Municipio"
            >
            <span *ngIf="myForm.controls['municipio'].getError('minlength') && myForm.controls['municipio'].touched">
              Este campo necesita 3 caracteres minimo y 20 maximo
            </span>
          </div>
          <br>
          <div class="form-group">
            <label for="colonia">Colonia</label>
            <input
            type="text"
            class="form-control"
            name="colonia"
            formControlName="colonia"
            >
            <span *ngIf="myForm.controls['colonia'].getError('minlength') && myForm.controls['colonia'].touched">
              Este campo necesita 3 caracteres minimo y 30 maximo
            </span>
          </div>
          <br>
          <div class="form-group">
            <label for="calle">Calle</label>
            <input
            type="number"
            class="form-control"
            name="calle"
            formControlName="calle"
            >
            <span *ngIf="myForm.controls['calle'].getError('required') && myForm.controls['calle'].touched">
              Este campo es requerido
            </span>
            <span *ngIf="myForm.controls['calle'].getError('minlength') && myForm.controls['calle'].touched">
              Este campo necesita 3 caracteres minimo y 30 maximo
            </span>
          </div>
          <br>
          <div class="form-group">
            <label for="cp">Codigo Postal</label>
            <input
            type="number"
            class="form-control"
            name="cp"
            formControlName="cp"
            placeholder="00000"
            >
            <span *ngIf="myForm.controls['cp'].getError('required') && myForm.controls['cp'].touched">
              Este campo es  requerido y necesita 5 carcteres obligatoriamente
            </span>
          </div>
          <br>
          <div class="text-center">
            <button type="submit" class="btn btn-outline-primary" id="buscar">Buscar</button>
          </div>
        </div>
      </div>
    </form>
  </div>


  <div class="col-md-6 ">
    <h2>Ubicacion del cliente</h2>
    <hr>
    <ubicacion-clientes></ubicacion-clientes>
  </div>
</div>

<div class="text-center mt-4">
  <button
  type="submit"
  (click)="abrirDialogoConfirmacion()"
  class="btn btn-success
  custom-width-btn"
  >Aceptar</button>
</div>



<div class="row">
  <div class="col-md-9">
    <h3>Version web</h3>
  </div>
</div>





